.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100vh;
  justify-content: flex-start;
}

.footer {
  margin-top: auto;
  margin-bottom: 1rem;
}

.assessmentLinksContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2rem;
  justify-content: center;
}

@media (min-width: 600px) {
  .container {
    width: 600px;
  }
}
